.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-size-sm {
  font-size: .875rem  !important;
}

.font-size-md {
  font-size: 1rem !important;
}

.font-size-lg {
  font-size: 1.3rem !important;
}

.font-size-xl {
  font-size: 1.7rem !important;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
